@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 10px;
    color: #3D3D3D;
    background-color: #E1EDF2;
}

h2 {
    border-bottom: 2px solid;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    margin: 30px;
    padding: 15px;
    border: 1px solid lightgrey;
}

figcaption {
    color: black;
    margin-top: 10px;
}

.musicdot-matriz {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}